.about__logo {
    padding-bottom: 80px;
    padding-top: 100px;
    padding-left: 30px;
    width: 100%;
    height: 100%;
}

.about__striker-drones {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
    color: var(--clear-white-color);
    padding-left: 30px;
    padding-bottom: 30px;
}

.about__striker-drones-articles {
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Lato', sans-serif;
    color: var(--clear-white-color);
}

.about__striker-drones-articles span {
    display: block;
    margin-bottom: 10px;
}

.about__striker-drones-status  {
    padding-left: 20px;
    padding-bottom: 100px;
    font-weight: lighter;
    grid-column-start: 6;
    font-family: 'Fjalla One', sans-serif;
    font-size: 22px;
    color:var(--clear-white-color);
}

.about__striker-drones-status-number {
    margin-bottom: 100px;
    color: var(--button-one-aqua-color)
}

.about__striker-drones-status-words {
    margin-bottom: 100px; 
}