.contacts {
    background-image: url(https://res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebc001886db0c002130bea6_optimized_1200.webp);
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
    animation: floatBackgroundImage 10s infinite linear;

}

@keyframes floatBackgroundImage {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0 0;
    }
}

.contacts__block {
    font-size: 22px;
    font-family: 'Fjalla One', sans-serif;
    color: var(--clear-white-color);
    font-weight: lighter;
}

.contacts__block-line {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacts__block-text {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    font-family:'Lato', sans-serif;
}

.contacts__block-text-main {
    padding-bottom: 15px;
    font-size: 18px;
    font-family:'Lato', sans-serif;
    font-weight: bold;
}

.contacts__block-text-second {
    padding-bottom: 5px;
    font-weight: bold;
}

.contacts__window {
    background:rgba(28, 29, 30, 0.82)
}

.contacts__contacts__window-input {
    border-color:#f0f0f0;
    background-color:rgba(28, 29, 30, 0.41);
    color:#FFFFFF;
}