.gallery {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--clear-white-color);
}

.gallery__first {
    height: 50px;
    width: 50px;
    color: var(--gallery-first-color);
    margin-left: 50px;
}

.gallery__first-text {
    color: var(--clear-black-color);
    font-family: "Lato",sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.gallery__first-text-desc {
    color: var(--clear-black-color);
    font-family: "Lato",sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 50px;
}

