@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body {
    background-image: url("https://res2.weblium.site/res/5ea68aee5ff1930022b473fb/5eba6c312e0afb0022cf3b52_optimized_1920.webp");
    background-size: cover;
    animation: floatBackground 20s infinite linear;
}

@keyframes floatBackground {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0 0;
    }
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1175px;
    margin: auto;
}

:root {
    --header-background-color: rgb(28,29,30);
    --clear-white-color: rgb(255, 255, 255);
    --button-one-color: rgb(245,46,98);
    --button-one-aqua-color: rgb(38, 221, 181);
    --footer-hr-line: rgb(85, 84, 83);
    --clear-black-color: rgb(0, 0, 0);
    --needs-background-color: rgb(236,234,234);
    --gallery-first-color: rgb(245,46,98);
}

