@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1175px;
    margin: auto;
}


:root {
    --header-background-color: rgb(28,29,30);
    --clear-white-color: rgb(255, 255, 255);
    --button-one-color: rgb(245,46,98);
    --button-one-aqua-color: rgb(38, 221, 181);
}