* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1175px;
    margin: auto;
}


:root {
    --header-background-color: rgb(28,29,30);
}