.header {
    background-color:var(--header-background-color);
    background-size: cover;
}

.header__top {
    padding-left: 20px;
    padding-bottom: 200px;
}

.header__drones {
    padding-left: 30px;
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 64px;
}

.header___line {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 40px; 
  }

.header__drones__california {
    padding-left: 30px;
    margin-top: 50px;
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 19px;

}

.header__buttons {
    margin-top: 50px;
    max-width: 100%;
    word-wrap: break-word;
    font-family: 'Fjalla One',sans-serif;
    padding-bottom: 150px;
}

.header__buttons__one {
    margin-left: 20px;
    width: 130px; 
    height: 60px; 
    background-color: var(--button-one-color); 
    border: none; 
    color: var(--clear-white-color)
}

.header__buttons__two {
    margin-left: 20px;
    width: 130px; 
    height: 60px; 
    background-color: var(--header-background-color);
    border: 1px solid var(--clear-white-color);
    color: var(--clear-white-color)
}

.header__buttons__one:hover {
    background-color: var(--button-one-aqua-color);
    transition: background-color 0.3s ease;
}


.header__buttons__two:hover {
    background-color: var(--clear-white-color);
    transition: background-color 0.3s ease;
}