.header {
    background-color:var(--header-background-color);
}

.header__top {
    padding-left: 20px;
}

.header__drones {
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 64px;
}

.header__line {
    margin-top: 50px;
}

.header__drones__california {
    margin-top: 50px;
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 19px;

}

.header__buttons {
    margin-top: 50px;
    max-width: 100%;
    word-wrap: break-word;
}

.header__buttons__one {
    width: 150px; 
    height: 70px; 
    background-color: var(--button-one-color); 
    border: none; 
    color: var(--clear-white-color)

}

.header__buttons__two {
    width: 150px; 
    height: 70px; 
    background-color: var(--header-background-color); 
    color: var(--clear-white-color)

}