.header {
    background-color:var(--header-background-color);
    background-size: cover;
}

.header__top {
    padding-left: 20px;
    padding-bottom: 200px;
}

.header__drones {
    display: flex;
    flex-direction: column;
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 64px;
}

.header__drones-text {
    margin: 20px;
    line-height: 30px;
}

.header___line {
    display: flex;
    justify-content: flex-start;
    margin: 50px 0;
}

.header__iine-illustr {
    padding-left: 20px;
    height: 2px;
    width: 92px;
}

.header__drones__california {
    padding-left: 20px;
    margin-top: 50px;
    color: var(--clear-white-color);
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;

}

.header__buttons {
    margin-top: 50px;
    max-width: 100%;
    word-wrap: break-word;
    font-family: 'Lato', sans-serif;
    padding-bottom: 150px;
}

.header__buttons__one {
    margin-left: 20px;
    width: 130px; 
    height: 60px; 
    background-color: var(--button-one-color); 
    border: none; 
    color: var(--clear-white-color)
}

.header__buttons__two {
    margin-left: 20px;
    width: 130px; 
    height: 60px; 
    background-color: var(--header-background-color);
    border: 1px solid var(--clear-white-color);
    color: var(--clear-white-color)
}

.header__buttons__one:hover {
    background-color: var(--button-one-aqua-color);
    transition: background-color 0.3s ease;
}


.header__buttons__two:hover {
    color: black;
    background-color: var(--clear-white-color);
    transition: background-color 0.3s ease;
}