.needs {
    padding-left: 20px;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #eceaea;
}

.needs__text {
    font-family:'Fjalla One', sans-serif;
    color: black;
    font-size: 20;
}

.needs__text-info {
    font-size: 35px;
}

.needs__text-line {
    padding-top: 30px;
    padding-bottom: 30px;
}

.needs__button {
    font-family:'Fjalla One', sans-serif;
}

.needs__button-drone {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 180px; 
    height: 60px; 
    background-color: var(--button-one-color); 
    border: none; 
    color: var(--clear-white-color)
}

.needs__button-drone:hover {
    background-color: var(--button-one-aqua-color);
    transition: background-color 0.3s ease;
}