<div class="contacts">
    <div class="contacts__block">
      <h1 class="contacts__block-tittle">CONTACTS</h1>
      <img alt="Illustration" class="contacts__block-line" data-fallback-url="data:image/svg+xml,%3Csvg width='1000' height='1000' viewBox='0 0 1000 1000' fill='none'
              xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E" contain;1.134% 50.071%" src="data:image/svg+xml, %3Csvg
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink' width='224' height='4' %3E%3Cimage x='1px' y='1px' xlink:href='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDkyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSI1Ni42MTU0IiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHg9IjYyLjExOTciIHdpZHRoPSIyOS44ODAzIiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIiBmaWxsLW9wYWNpdHk9IjAuMiIvPgo8L3N2Zz4K' height='2' width='92' preserveAspectRatio='xMinYMin meet'/%3E%3C/svg%3E">
      <div class="contacts__block-text">
        <p class="contacts__block-text-main">We will be happy to answer any questions and lend drones for any period.</p>
      </div>
      <div class="contacts__block-text">
        <p class="contacts__block-text-main">Address</p>
        <p class="contacts__block-text-second">412 Clifton Ave, San Jose, CA 95128, USA</p>
      </div>
      <div class="contacts__block-text">
        <p class="contacts__block-text-main">Hours</p>
        <p class="contacts__block-text-second">Monday - Friday: 11 AM - 9 PM</p>
        <p class="contacts__block-text-second">Saturday: 11 AM - 7 PM</p>
      </div>
      <div class="contacts__block-text">
        <p class="contacts__block-text-main">Contacts</p>
        <p class="contacts__block-text-second">+1 (234) 567 89 00</p>
        <p class="contacts__block-text-second"><a class="contacts__block-text-second-mail" href="mailto:strikerdrones@email.com">strikerdrones@email.com</a></p>
      </div>
      <div class="contacts__window">
        <input class= "contacts__window-input" type="text" placeholder="Enter your full name*" value="" maxlength="2000" required="">
        <input class= "contacts__window-input" type="text" placeholder="Enter your phone number*" value="" maxlength="2000" required="">
        <input class= "contacts__window-input" type="text" placeholder="Enter your e-mail*" value="" maxlength="2000" required="">
        <input class= "contacts__window-input-message" type="text" placeholder="Type your message" value="" maxlength="2000" required="">
        <button onclick="window.open('https://i.ibb.co/Jq1dDdT/2023-06-03-130808273.png');" class="contacts__window-input-button" type="button">REQUEST A QUOTE</button>
      </div>
    </div>
  </div>