<div class="faq">
    <div class="faq__main">
      <h1 class="faq__main-text">FAQ</h1>
      <img alt="Illustration" class="faq__main-illus" data-fallback-url="data:image/svg+xml,%3Csvg width='1000' height='1000' viewBox='0 0 1000 1000' fill='none'
              xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E" style="" src="data:image/svg+xml, %3Csvg
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink' width='368' height='8' %3E%3Cimage x='136px' y='3px' xlink:href='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDkyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSI1Ni42MTU0IiBoZWlnaHQ9IjIiIGZpbGw9IiMwQUQxOUQiLz4KPHJlY3QgeD0iNjIuMTE5NyIgd2lkdGg9IjI5Ljg4MDMiIGhlaWdodD0iMiIgZmlsbD0iIzBBRDE5RCIgZmlsbC1vcGFjaXR5PSIwLjIiLz4KPC9zdmc+Cg==' height='2' width='92' preserveAspectRatio='xMinYMin meet'/%3E%3C/svg%3E">
      <p class="faq__main-text-desc"> Do you have any questions? We will be happy to answer them! But first, look at the list of frequently asked questions. </p>
    </div>
    <div class="faq__main">
        <h1 class="faq__main-tittle">How to rent a drone in your company?</h1>
        <p class="faq__main-text-desc"> It's very easy and takes a couple of minutes. Fill out an application on our website or contact us directly and specify which device you need. </p>
      </div>
    <div class="faq__main">
        <h1 class="faq__main-tittle">Can I reserve the chosen drone for a specific date?</h1>
        <p class="faq__main-text-desc"> Of course. Our manager will contact you. You can specify the date and time, and your drone will be waiting for you. </p>
      </div>
    <div class="faq__main">
        <h1 class="faq__main-tittle">I don’t know which drone I need. Will you help me choose?</h1>
        <p class="faq__main-text-desc"> Our experts will tell you which drones are best suited for your purposes. Tell us what you need a drone for, and we will find the best option. </p>
      </div>
    <div class="faq__main">
        <h1 class="faq__main-tittle">What is the minimum rental period?</h1>
        <p class="faq__main-text-desc"> The minimum rental period for a drone  is 1 week. After the end of this period, you can keep on renting or cancel the subscription. </p>
      </div>
  </div>