<div class="footer">
    <div class="footer__info">
        <img width="151" height="auto" alt="logo" class="footer__info-logo" loading="lazy" data-src="//res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebbf2c540e3dd002156f44f" data-component="logo" src="//res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebbf2c540e3dd002156f44f?nowebp" data-was-processed="true">
        <ul class="footer__nav">
            <li class="footer__nav-li"><a class="footer__nav-link" href="#about">About us</a></li>
            <li class="footer__nav-li"><a class="footer__nav-link" href="#">Drones</a></li>
            <li class="footer__nav-li"><a class="footer__nav-link" href="#">Gallery</a></li>
            <li class="footer__nav-li"><a class="footer__nav-link" href="#">Testmonials</a></li>
            <li class="footer__nav-li"><a class="footer__nav-link" href="#">Contact us</a></li>
        </ul>
        <div class="footer__hr">
            <hr class="footer__hr-line">
        </div>
        <div class="footer__created">
            <p>
                All Rights Reserved
            </p>
            <p>
                © Created by <a class="footer__created-link" href="#">nikfromua</a>
            </p>
        </div>
    </div>
</div>