<div class="needs">
    <div class="needs__text">
      <span class="needs__text-info"> Drones for Your Needs </span>
      <img alt="Illustration" class="needs__text-line" data-fallback-url="data:image/svg+xml,%3Csvg width='1000' height='1000' viewBox='0 0 1000 1000' fill='none'
              xmlns='http://www.w3.org/2000/svg'%3E%3C/svg%3E"   src="data:image/svg+xml, %3Csvg
              xmlns='http://www.w3.org/2000/svg'
              xmlns:xlink='http://www.w3.org/1999/xlink' width='343' height='7' %3E%3Cimage x='3px' y='2px' xlink:href='data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOTIiIGhlaWdodD0iMiIgdmlld0JveD0iMCAwIDkyIDIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSI1Ni42MTU0IiBoZWlnaHQ9IjIiIGZpbGw9IiNGNTJFNjIiLz4KPHJlY3QgeD0iNjIuMTE5NyIgd2lkdGg9IjI5Ljg4MDMiIGhlaWdodD0iMiIgZmlsbD0iI0Y1MkU2MiIgZmlsbC1vcGFjaXR5PSIwLjIiLz4KPC9zdmc+Cg==' height='2' width='92' preserveAspectRatio='xMinYMin meet'/%3E%3C/svg%3E">
      <p class="needs__text"> UAVs have long gone beyond military use. Drones are great for mapping, taking photos, and shooting videos from a height without a helicopter, real-time tracking, shipping, without taking a single extra step. </p>
      <br>
      <br>
      <p class="needs__text"> Striker Drones offers the best conditions for renting drones. We regularly hold promotions and discounts. All drones that you can rent are in excellent technical condition. We carefully monitor the health of drones and all components. We have the newest drones with various functions that may be useful to you. </p>
      <div class="needs__button">
        <button class="needs__button-drone" type="button"> CHOOSE YOUR DRONE </button>
      </div>
    </div>
    <img src="https://res2.weblium.site/res/5ea68aee5ff1930022b473fb/5ebbf4f86213d70022e2474c_optimized_1140_c1140x1140-0x0?nowebp" alt="drone" class="needs__img">
  </div>
  